/*landing page*/
@font-face {
    font-family: 'pixel-font';
    src: url('../fonts/pixel-font.ttf') format('truetype');
}

body{
    background-image: url('assets\login_screen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: grey; /*insert image*/
    margin: 0;
    padding: 0;
}

h1{
    color: purple;
    font-size: xx-large;
    font-family: pixelArtFont;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    text-align: center;
}

.buttons{
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
    margin-bottom: 10%;
}

button{
    padding: 10px;
    font-size: 20px;
    font-family: pixelArtFont;
}