

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.content-window {
    margin: 0;
    z-index: 0;
}
.crop-menu {
    margin: auto;
    position: absolute;
    z-index: 1;
    top: 50%;
    width: 100px;
    height: 100px;
    background: red;
    

}


@font-face {
    font-family: 'pixel-font';
    src: url('../fonts/pixel-font.ttf') format('truetype');
}

/* Custom cursor */
/* body {
    cursor: url('../assets/cursor.png'), auto;
} */