
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity Valley</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'assets/sun.ico' %}" type="image/x-icon">
    <script type="text/javascript">
        var STATIC_URL = "{% static '' %}";
    </script>
    <script src="{% static 'js/libs/phaser.js' %}"></script>

{#    <script type="module" src="{% static 'js/libs/phaser.js' %}"></script>#}
</head>
<body>
    <div id="game-container"></div>
    </div>
        <script type="module" src="{% static 'js/game.js' %}"></script>

{#<div id="game-container"></div>#}
    <div class="menu-container chart-menu" style="display: none;">
        <dialog class="menu chart-menu" style="display: inline-flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Working Hours<p>
                <button class="exit-button" id="chart-exit-button">X</button>
            </div>
            <div id="chart-content" style="flex: 1; overflow: auto; display: flex; justify-content: center; align-items: center;">
                <canvas id="Chart"></canvas>
            </div>
        </dialog>
    </div>



    <div class="menu-container task-menu" style="display: none;">
        <dialog class="menu task-menu" style="display: inline-flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p id="task-title">Create a task</p>
                <button class="exit-button" id="task-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <form id="task-form" style="display: flex; justify-content: center;">
                    <table id="task-menu-table">
                        <tr class = "uneditable">
                            <td>
                                <label for="preset">Preset:</label>
                                <select id="preset" name="preset">
                                    <option value="new"></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="taskName">Task Name:</label>
                                <input type="text" id="taskName" class="editable" name="taskName" maxlength="25" value="Task" required><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="repetitions">Sessions:</label>
                                <input type="number" id="repetitions" class="editable" name="repetitions" style="width: 70px" min="1" max="20" step="1" value="1" required>
                            </td>
                        </tr>
                        <tr class = "uneditable">
                            <td>
                                <label for="cropChoice">Crop:</label>
                                <select id="cropChoice" name="cropChoice">
                                    <option value="carrot">Carrot</option>
                                    <option value="pumpkin">Pumpkin</option>
                                    <option value="sunflower">Sunflower</option>
                                    <option value="tomato">Tomato</option>
                                    <option value="tulip">Tulip</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="subtasks-query" class="editable" name="subtasksQuery">
                                <label for="subtasks-query">Add Subtasks</label>
                            </td>
                        </tr>
                        <tr class="subtask-row" style="display: none;">
                            <td>
                                <label for="subtask0">- </label>
                                <input type="text" id="subtask0" class="subtask editable" name="subtask" maxlength="32" ></input>
                            </td>
                        </tr>
                        <tr id="save-preset-row" class = "uneditable">
                            <td>
                                <input type="checkbox" id="save-preset" name="savePreset">
                                <label for="save-preset">Save Preset</label>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div style="display: flex; justify-content: center;">
                                    <p id="harvest-coins-text" style="display: none;"></p><img id="harvest-coins-image" src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw; display: none;">
                                    <button type="button" id = "harvest-task" style="display: none; background-color: red;">Harvest</button>
                                    <button type="submit" id = "create-task">Create</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </dialog>
    </div>



    <div class="menu-container shop-menu" style="display: none;">
        <dialog class="menu shop-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Crop Shop<p>
                <button type="button" class="exit-button" id="shop-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <table class="menu-table" id="seed-menu" style="display: none;">
                    <tr class="menu-row" id="sunflower">
                        <tc>
                            <td>
                                <img class="seed-bags" id="sunflower-bag" src="{% static '/assets/seed-bags/sunflower-seeds-4x(1).png' %}">
                            </td>
                        </tc>
                            <tc>
                                <td>
                                <button id="sunflower-button" class="sunflower"><span class="sunflower">50</span><span class="coin sunflower"><img class="sunflower"
                                        src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw"></span></button><br>
                                
                                </td>
                            </tc>
                    </tr>
                    <tr class="menu-row" id="carrot">
                        <tc>
                            <td>
                                <img class="seed-bags" id="carrot-bag" src="{% static '/assets/seed-bags/carrot-seeds-4x(1).png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button id="carrot-button" class="carrot"><span class="carrot">50</span><span class="coin carrot"><img class="carrot"
                                        src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw"></span></button><br>
                                
                            </td>
                        </tc>
                    </tr>
                    <tr class="menu-row" id="pumpkin">
                        <tc>
                            <td>
                                <img class="seed-bags" id="pumpkin-bag" src="{% static '/assets/seed-bags/pumpkin-seeds-4x(1).png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button id="pumpkin-button" class="pumpkin"><span class="pumpkin">50</span><span class="coin pumpkin"><img class="pumpkin"
                                        src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw"></span></button><br>
                                
                            </td>
                        </tc>
                    </tr>
                    <tr class="menu-row" id="tulip">
                        <tc>
                            <td>
                                <img class="seed-bags" id="tulip-bag" src="{% static '/assets/seed-bags/tulip-seeds-4x.png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button id="tulip-button" class="tulip"><span class="tulip">50</span><span class="coin tulip"><img class="tulip"
                                        src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw"></span></button><br>
                                
                            </td>
                        </tc>
                    </tr>
                    <tr class="menu-row" id="tomato" style = "display:none">
                        <tc>
                            <td>
                                <img class="seed-bags" id="tomato-bag" src="{% static 'assets/seed-bags/pumpkin-seeds-4x.png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button id="tomato-button" class="tomato"><span class="tomato">50</span><span class="coin tomato"><img class="tomato"
                                        src="{% static 'assets/coin-medium.png' %}" alt="coins" style="width: 3vw; height: 3vw"></span></button><br>
                                
                            </td>
                        </tc>
                    </tr>

                </table>
            </div>
        </dialog>
    </div>

    <div class="menu-container decoration-plot-menu" style="display: none;">
        <dialog class="menu decoration-plot-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Decorations</p>
                <button type="button" class="exit-button" id="decoration-plot-exit-button">X</button>
            </div>
            <div id="decoration-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Decorations dynamically added here -->
            </div>
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Plots</p>
                <button type="button" class="menu-top-spacer">X</button>
            </div>
            <div id="plot-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Plots dynamically added here -->
            </div>
        </dialog>
    </div>

    <div class="menu-container furniture-menu" style="display: none;">
        <dialog class="menu furniture-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Furniture</p>
                <button type="button" class="exit-button" id="furniture-exit-button">X</button>
            </div>
            <div id="furniture-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Furniture dynamically added here -->
            </div>
        </dialog>
    </div>

    <div class="menu-container furniture-shop-menu" style="display: none;">
        <dialog class="menu furniture-shop-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Furniture Shop</p>
                <button type="button" class="exit-button" id="furniture-shop-exit-button">X</button>
            </div>
            <div id="furniture-shop-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Furniture dynamically added here -->
            </div>
        </dialog>
    </div>

    <div class="menu-container decoration-shop-menu" style="display: none;">
        <dialog class="menu decoration-shop-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Decoration Shop</p>
                <button type="button" class="exit-button" id="decoration-shop-exit-button">X</button>
            </div>
            <div id="decoration-shop-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Decorations dynamically added here -->
            </div>
        </dialog>
    </div>

    <div class="menu-container plots-shop-menu" style="display: none;">
        <dialog class="menu plots-shop-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Plot Shop</p>
                <button type="button" class="exit-button" id="plots-shop-exit-button">X</button>
            </div>
            <div id="plots-shop-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Plots dynamically added here -->
            </div>
        </dialog>
    </div>


    <div id="edit-buttons-container">
        <button class="edit" id="edit-button"><img src="{% static 'assets/edit/edit.png' %}" alt="Edit icon"></button>
        <button class="edit" id="tick-button" style="display: none;"><img src="{% static 'assets/edit/tick.png' %}" alt="Tick icon"></button>
        <button class="edit" id="plus-button" style="display: none;"><img src="{% static 'assets/edit/plus.png' %}" alt="Plus icon"></button>
        <button class="edit" id="trash-button" style="display: none;"><img src="{% static 'assets/edit/trash.png' %}" alt="Cross icon"></button>
        <button class="edit" id="cross-button" style="display: none;"><img src="{% static 'assets/edit/cross.png' %}" alt="Cross icon"></button>
    </div>
    
    <!--Settings-->
    <div class="settings-icon-container">
{#        <img src="{% static 'assets/settings.png' %}" alt="Settings Icon">#}
        <img src="{% static 'assets/edit/cross.png' %}" alt="Settings Icon">
    </div>
<!--Settings Popup-->
    <div class="menu-container settings-menu" style="display: none;">
        <dialog class="menu settings-menu" style="display: inline-flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Settings</p>
                <button class="exit-button" id="settings-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <form id="settings-form" style="display: flex; justify-content: center;">
                    <table id="settings-menu-table">
                        <tr>
                            <td>
                                <label for="workTime">Pomodoro:</label>
                                <input type="number" id="workTime" name="workTime" min="10" max="120" step="1"
                                    value="25" style="width: 70px" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="shortBreakTime">Short Break:</label>
                                <input type="number" id="shortBreakTime" name="shortBreak" min="1" max="120" step="1"
                                    value="5" style="width: 70px" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="longBreakTime">Long Break:</label>
                                <input type="number" id="longBreakTime" name="longBreak" min="1" max="120" step="1"
                                    value="15" style="width: 70px" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="longBreakInterval">Long Break Interval:</label>
                                <input type="number" id="longBreakInterval" name="longBreakInterval" min="2" max="20"
                                    step="1" value="4" style="width: 70px" 000000required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="autoStartPomodoro" name="autoStartPomodoro">
                                <label for="autoStartPomodoro">Auto Start Pomodoro</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="autoStartBreak" name="autoStartBreak">
                                <label for="autoStartBreak">Auto Start Break</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="fontSize">Font Size:</label>
                                <select id="fontSize" name="fontSize">
                                    <option value="normal">Normal (Default)</option>
                                    <option value="large">Large</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit">Save</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </dialog>
    </div>

    <!--Coins-->
    <div class="coins-container">
        <p id="current-coins-value" style="font-size: calc(30px * var(--scale-factor));">1000</p>
        <img src="{% static 'assets/coin-large.png' %}" alt="coins">
    </div>

    <!--Top left-->
    <div class="top-left-container">
        <div id="home-icon-container">
{#            <img src="/assets/question.png" alt="Question Icon">#}
            <img src="{% static 'assets/question.png' %}" alt="Question Icon">
        </div>
        <div id="settings-icon-container">
{#            <img src="/assets/settings.png" alt="Settings Icon">#}
            <img src="{% static 'assets/settings.png' %}" alt="Settings Icon">
        </div>
        <div id="soundToggle" onclick="toggleSound()">
            <img src="{% static 'assets/audio/sound-on.png' %}" alt="Sound On" id="soundOnIcon">
            <img src="{% static 'assets/audio/sound-off.png' %}" alt="Sound Off" id="soundOffIcon" style="display: none">
        </div>
    </div>

    <!--attribution to flaticon-->
    <!--<a href="https://www.flaticon.com/free-icons/silence" title="silence icons">Silence icons created by Angelo Troiano - Flaticon</a>-->

    <!--Audio for clock-->
    <audio id="sound">
        <source src="{% static 'assets/audio/alarm-clock.mp3' %}" type="audio/mpeg">
    </audio>

    <script>
        var sound = document.getElementById("sound");
        var soundOnIcon = document.getElementById("soundOnIcon");
        var soundOffIcon = document.getElementById("soundOffIcon");

        function toggleSound() {
            if (sound.muted) {
                sound.muted = false;
                soundOnIcon.style.display = "inline";
                soundOffIcon.style.display = "none";
            } else {
                sound.muted = true;
                soundOnIcon.style.display = "none";
                soundOffIcon.style.display = "inline";
            }
        }
    </script>

    <!--Home Menu Popup-->
    <div class="menu-container home-menu" style="display: none; margin-top: 100px; margin-bottom: 100px;">
        <dialog class="menu home-menu" style="display: inline-flex; flex-direction: column; height: 450px;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Tutorial</p>
                <button type="button" class="exit-button" id="home-exit-button">X</button>
            </div>
            <div id="furniture-container"
                style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <p>Welcome to the tutorial!</p>
            </div>
        </dialog>
    </div>

    <!--Confirmation Popup Screen-->
    <div class="menu-container confirmation" style="display: none;">
        <dialog class="menu confirmation" style="display: flex; flex-direction: column; height: calc(50vh * var(--scale-factor));">
            <div id="confirmation-container" style="flex: 1; overflow: auto; display: flex; justify-content: center; flex-wrap: wrap;">
                <p id="confirmation-message" style="float:none; text-align: center"></p>
                <br>
                <p id="confirmation-note" style="font-size: 2vw; float:none; text-align: center"></p>
                <br>
                <div id="confirmation-buttons-container" style="clear:both">
                    <button type="button" id = "accept-confirmation">Yes</button>
                    <button type="button" id="deny-confirmation">No</button>
                </div>
            </div>
        </dialog>
    </div>

    <div class="menu-container house-upgrade-menu" style="display: none;">
        <dialog class="menu house-upgrade-menu" style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Upgrade farmhouse for 1000 coins?</p>
                <button type="button" class="exit-button" id="house-upgrade-exit-button">X</button>
            </div>
            <button id="house-upgrade-button">Upgrade</button>
        </dialog>
    </div>
    
    <div class="menu-container alertWindow" style="display: none;">
        <dialog class="menu alertWindow" style="display: flex; flex-direction: column; height: calc(50vh * var(--scale-factor));">
            <div id="alertWindow-container" style="flex: 1; overflow: auto; display: flex; justify-content: center; flex-wrap: wrap;">
                <p id="alertWindow-message" style="float:none; text-align: center;"></p>
                <p id="alertWindow-note" style="float:none; text-align: center;"></p>
                <div style = "flex-basis: 100%; height: 0;"></div>
                <div id="alertWindow-buttons-container" style="clear:both">
                    <button type="button" id="okButton">OK</button>
                </div>
            </div>
        </dialog>
    </div>

    <div class="wrapper-container" id="wrapperContainer"
        style="position: absolute; top: 55px; right: 4%; width: 250px; align-items: center; justify-content: center; display: none; border: solid; border-color: black; background-color: yellow;">
        <div class="task-name" id="taskNameDiv" style="font-size: 28px;"></div>
        <div id="subtasksDiv" class="subtasks"
            style="position: absolute; top: 30px; color: black; font-size: 24px; border: solid; border-color: black; background-color: yellowgreen; width: 250px;">
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        var currentUsername = "{{ username }}"; 
    </script>

</body>
</html>
