
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity Valley</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'assets/sun.ico' %}" type="image/x-icon">
    <script type="text/javascript">
        // 定义一个变量来存储静态文件的基础路径
        var STATIC_URL = "{% static '' %}";
    </script>
    <script type="module" src="{% static 'js/libs/phaser.js' %}"></script>
</head>
<body>
    <div id="game-container"></div> <!-- Phaser 游戏或图表将在这里渲染 -->
    </div>
        <script type="module" src="{% static 'js/game.js' %}"></script>
        <script>
                function addSubtask() {
                    //
                    let taskTable = document.getElementById("task-menu-table");
                    
                    let row = taskTable.insertRow(taskTable.rows.length-2);
                    let cell = row.insertCell();
                    let input = document.createElement("input");
                    value.setAttribute("type", "text");
                    {#可能需要改为input.set...#}
                    let bullet = document.createTextNode(" - ");
                    cell.appendChild(bullet);
                    cell.appendChild(input);
                     }
        </script>
<div id="game-container"></div>
{#表格的背景,在body的尾巴加了script协助chart引库#}
    <div class="menu-container chart-menu" style="display: none;">
        <dialog class="menu chart-menu" style="display: inline-flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <h1>Working Hours</h1>
                <button class="exit-button" id="chart-exit-button">X</button>
            </div>
            <div id="chart-content" style="flex: 1; overflow: auto; display: flex; justify-content: center; align-items: center;">
                <canvas id="Chart"></canvas>
            </div>
        </dialog>
    </div>



    <div class="menu-container task-menu" style="display: none;">
        <dialog class="menu task-menu" style="display: inline-flex; flex-direction: column;">
            <div class="menu-top-container">
                <button class="info-button" id="task-info-button">?</button>
                <p>Create a task</p>
                <button class="exit-button" id="task-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <form id="task-form" style="display: flex; justify-content: center;">
                    <table id="task-menu-table">
                        <tr>
                            <td>
                                <label for="preset">Preset:</label>
                                <select id="preset" name="preset">
                                    <option value="new">New</option>
                                    <option value=""></option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="taskName" name="taskName" maxlength="25" value="Task 1"required><br>
                                <label for="taskName">Task Name:</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="minutes">Minutes/session:</label>
                                <input type="number" id="minutes" name="minutes" min="10" max="120" step="5" value="25" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="repetitions">Sessions:</label>
                                <input type="number" id="repetitions" name="repetitions" min="1" max="20" step="1" value="1" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="crop">Crop:</label>
                                <select id="crop" name="crop">
                                    <option value="sunflower">Sunflower</option>
                                    <option value="carrot">Carrot</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="subtasks-query" name="subtasks-query">
                                <label for="subtasks-query">Add Subtasks</label>
                            </td>
                        </tr>
                        <tr class="subtask-row" style="display: none;">
                            <td>
                                <label for="subtask">- </label>
                                <input type="text" class="subtask" name="subtask"></input>
                            </td>
                        </tr>
                        <tr id="save-preset-row">
                            <td>
                                <input type="checkbox" id="save-preset" name="save-preset">
                                <label for="save-preset">Save Preset</label>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit">Create</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </dialog>
    </div>

    

    <div class="menu-container shop-menu" style="display: none;">
        <dialog class="menu shop-menu"style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <h1>Crop Shop</h1>
                <button type="button" class="exit-button" id="shop-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <table class = "menu-table" id = "seed-menu" style="display: none;">
                    <tr class="menu-row" id="sunflower">
                        <tc>
                            <td>
{#                                <img class="seed-bags" id="sunflower"src="/assets/seed-bags/sunflower-seeds-4x.png">#}
                                  <img class="seed-bags" id="sunflower"src="{% static 'assets/seed-bags/sunflower-seeds-4x.png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="sunflower-bags" id="1">Buy 1</button><br>
{#                                <span class = "sunflower-price">50</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class="sunflower-price">50</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>

                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="sunflower-bags" id="3">Buy 3</button><br>
{#                                <span class = "sunflower-price">140</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "sunflower-price">140</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="sunflower-bags" id="10">Buy 10</button><br>
{#                                <span class = "sunflower-price">400</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "sunflower-price">400</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                    </tr>
                    <tr class="menu-row" id="carrot">
                        <tc> 
                            <td>
{#                                <img class="seed-bags" id="carrot" src="/assets/seed-bags/carrot-seeds-4x.png">#}
                                <img class="seed-bags" id="carrot" src="{% static 'assets/seed-bags/carrot-seeds-4x.png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="carrot-bags" id="1">Buy 1</button><br>
{#                                <span class = "carrot-price">50</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "carrot-price">50</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="carrot-bags" id="3">Buy 3</button><br>
{#                                <span class = "carrot-price">140</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "carrot-price">140</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="carrot-bags" id="10">Buy 10</button><br>
{#                                <span class = "carrot-price">400</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "carrot-price">400</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                    </tr>
                    <tr class="menu-row" id="pumpkin">
                        <tc>
                            <td>
{#                                <img class="seed-bags" id="pumpkin" src="/assets/seed-bags/pumpkin-seeds-4x.png">#}
                                <img class="seed-bags" id="pumpkin" src="{% static 'assets/seed-bags/pumpkin-seeds-4x.png' %}">
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="pumpkin-bags" id="1">Buy 1</button><br>
{#                                <span class = "pumpkin-price">50</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "pumpkin-price">50</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="pumpkin-bags" id="3">Buy 3</button><br>
{#                                <span class = "pumpkin-price">140</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "pumpkin-price">140</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                        <tc>
                            <td>
                                <button class="pumpkin-bags" id="10">Buy 10</button><br>
{#                                <span class = "pumpkin-price">400</span><span class="coin"><img src="../assets/coin-medium.png"></span>#}
                                <span class = "pumpkin-price">400</span><span class="coin"><img src="{% static 'assets/coin-medium.png' %}"></span>
                            </td>
                        </tc>
                    </tr>

                </table>
            </div>
        </dialog>
    </div>

    <div class="menu-container decoration-plot-menu" style="display: none;">
        <dialog class="menu decoration-plot-menu"style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Decorations</p>
                <button type="button" class="exit-button" id="decoration-plot-exit-button">X</button>
            </div>
            <div id="decoration-container" style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Decorations dynamically added here -->
            </div>
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Plots</p>
                <button type="button" class="menu-top-spacer">X</button>
            </div>
            <div id="plot-container" style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Plots dynamically added here -->
            </div>
        </dialog>
    </div>

    <div class="menu-container furniture-menu" style="display: none;">
        <dialog class="menu furniture-menu"style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Furniture</p>
                <button type="button" class="exit-button" id="furniture-exit-button">X</button>
            </div>
            <div id="furniture-container" style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Furniture dynamically added here -->
            </div>
        </dialog>
    </div>
    
    <div class="menu-container furniture-shop-menu" style="display: none;">
        <dialog class="menu furniture-shop-menu"style="display: flex; flex-direction: column;">
            <div class="menu-top-container">
                <button type="button" class="menu-top-spacer">X</button>
                <p>Furniture Shop</p>
                <button type="button" class="exit-button" id="furniture-shop-exit-button">X</button>
            </div>
            <div id="furniture-shop-container" style="flex: 1; overflow: auto; display: flex; justify-content: space-around; flex-wrap: wrap;">
                <!-- Furniture dynamically added here -->
            </div>
        </dialog>
    </div>



    <div id="edit-buttons-container">
        <button class="edit" id="edit-button"><img src="{% static 'assets/edit/edit.png' %}" alt="Edit icon"></button>
        <button class="edit" id="tick-button" style="display: none;"><img src="{% static 'assets/edit/tick.png' %}" alt="Tick icon"></button>
        <button class="edit" id="plus-button" style="display: none;"><img src="{% static 'assets/edit/plus.png' %}" alt="Plus icon"></button>
        <button class="edit" id="trash-button" style="display: none;"><img src="{% static 'assets/edit/trash.png' %}" alt="Cross icon"></button>
        <button class="edit" id="cross-button" style="display: none;"><img src="{% static 'assets/edit/cross.png' %}" alt="Cross icon"></button>
    </div>
    
    <!--Settings-->
    <div class="settings-icon-container">
{#        <img src="/assets/settings.png" alt="Settings Icon">#}
        <img src="{% static 'assets/edit/cross.png' %}" alt="Settings Icon">
    </div>

    <!--Settings Popup-->
    <div class="settings-container settings-menu" style="display: none;">
        <dialog class="menu settings-menu" style="display: inline-flex; flex-direction: column;">
            <div class="settings-top-container">
                <button class="info-button" id="settings-info-button">?</button>
                <p>Settings</p>
                <button class="exit-button" id="settings-exit-button">X</button>
            </div>
            <div style="flex: 1; overflow: auto; display: flex; flex-direction: column; align-items: center;">
                <form id="settings-form" style="display: flex; justify-content: center;">
                    <table id="settings-menu-table">
                        <tr>
                            <td>
                                <label for="workTime">Pomodoro:</label>
                                <input type="number" id="workTime" name="workTime" min="10" max="120" step="5" value="25" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="shortBreakTime">Short Break:</label>
                                <input type="number" id="shortBreakTime" name="shortBreak" min="1" max="120" step="5" value="5" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="longBreakTime">Long Break:</label>
                                <input type="number" id="longBreakTime" name="longBreak" min="1" max="120" step="5" value="15" required>
                            </td>
                        </tr>
                        <!-- <tr class="subtask-row" style="display: none;">
                            <td>
                                <label for="subtask">- </label>
                                <input type="text" class="subtask" name="subtask"></input>
                            </td>
                        </tr> -->
                        <tr>
                            <td>
                                <input type="checkbox" id="autoStartPomodoro" name="autoStartPomodoro">
                                <label for="autoStartPomodoro">Auto Start Pomodoro</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="autoStartBreak" name="autoStartBreak">
                                <label for="autoStartBreak">Auto Start Break</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="font">Font:</label>
                                <select id="font" name="font">
                                    <option value="pixelArt">Pixel Art (Default)</option>
                                    <option value="standard">Standard</option>
                                    <option value="dyslexic">Dyslexic</option>
                                </select><br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit">Save</button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="longBreakInterval">Long Break Interval:</label>
                                <input type="number" id="longBreakInterval" name="longBreakInterval" min="2" max="20" step="5" value="4" required>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </dialog>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>
