<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity Valley - Chart</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/phaser/3.55.2/phaser.min.js"></script>
</head>
<body>
    <div id="game-container"></div> <!-- Phaser 图表将在这里渲染 -->
{#    <script src="{% static 'js/chart.js' %}"></script>#}
    <script type="module" src="{% static 'js/chart.js' %}"></script>
</body>
</html>
