<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productivity Valley</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{% static 'assets/sun.ico' %}" type="image/x-icon">
<!--    <script src="{% static 'js/libs/phaser.js' %}"></script>-->
    <script type="text/javascript">
        // 定义一个变量来存储静态文件的基础路径
        var STATIC_URL = "{% static '' %}";
    </script>
    <script type="module" src="{% static 'js/libs/phaser.js' %}"></script>

</head>
<body>
<script type="module" src="{% static 'js/game.js' %}"></script>
</body>
</html>
